<section class="footer">
  <div>
    <p class="news-text">space Cases</p>
    <img
      class="footer-logo"
      src="{{ url_for('static', filename='images/case.png') }}"
      alt="logo"
    />
  </div>
  <div>
    <a>link1</a>
    <a>link2</a>
    <a>link3</a>
  </div>
  <div>
    <a>link4</a>
    <a>link5</a>
    <a>link6</a>
  </div>
  <div>
    <p class="news-text">Join our news list</p>
    <form class="email-box">
      <input class="form-control" placeholder="First Name" type="text" />
      <input class="form-control" placeholder="Surname" type="text" />
      <input class="form-control" placeholder="Email" type="email" />
      <input
        class="website-button"
        id="form-submit"
        type="submit"
        value="Submit"
      />
    </form>
  </div>
</section>
