<footer class="footer" id="footer">
  <p class="footer-header">space Cases</p>
  <a>Terms of Use</a>
  <a href="https://www.patreon.com/SpaceCases">Patreon</a>
  <a>Contact</a>
  <p>© Space Cases 2023</p>
  <a class="icons-credits" href="https://icons8.com/">Icons by Icons8</a>
  <div class="footer-socials">
    <a href="https://www.instagram.com/spacecasesio/"
      ><img src="{{url_for('static',filename='images/socials/instagram.png')}}"
    /></a>
    <a href="https://www.tiktok.com/@spacecasesio"
      ><img src="{{url_for('static',filename='images/socials/tiktok.png')}}"
    /></a>
    <a href="https://twitter.com/spacecasesio"
      ><img src="{{url_for('static',filename='images/socials/twitter.png')}}"
    /></a>
    <a href="https://www.youtube.com/@spacecasesio"
      ><img src="{{url_for('static',filename='images/socials/youtube.png')}}"
    /></a>
  </div>
</footer>
