<footer class="footer">
  <div class="footer-section">
    <p class="news-text">space Cases</p>
    <img
      class="footer-logo"
      src="{{ url_for('static', filename='images/misc/case.png') }}"
      alt="logo"
    />
  </div>
  <div class="footer-section">
    <div class="footer-text-wrapper">
      <p class="news-text">Legal</p>
      <a>Terms and Conditions</a>
      <a>Privacy Policy</a>
      <a>Terms of use</a>
    </div>
  </div>
  <div class="footer-section">
    <div class="footer-text-wrapper">
      <p class="news-text">Support</p>
      <a>About us</a>
      <a>Contact</a>
      <a>FAQ</a>
    </div>
  </div>
  <div class="footer-section">
    <div class="footer-text-wrapper">
      <p class="news-text">join our newsletter</p>
      <form class="email-box">
        <input class="form-control" placeholder="First Name" type="text" />
        <input class="form-control" placeholder="Surname" type="text" />
        <input class="form-control" placeholder="Email" type="email" />
        <input class="website-button" id="form-submit" type="submit" value="Submit" />
      </form>
    </div>
  </div>
  <span class="footer-section">
    <p>© Space Cases 2023</p>
  </span>
</footer>
