{% extends 'index.html' %} {%block content%}
<main class="main-section">
  <section class="title-screen">
    <div class="title-divs">
      <summary class="left-side-title">
        <h1 class="main-text">Space Cases</h1>
        <p class="sub-text">
          The Premier CSGO case unboxing simulator built from the ground up for
          the discord platform.
        </p>
        <div class="front-buttons title-front-buttons">
          <a href="{{url_for('bot_management.invite_server')}}">
            <img
              src="{{url_for('static',filename='images/svg/discord-mark-white.svg')}}"
              alt=""
            />
            Add to Discord</a
          >
          <a href="#first-section"> See Features</a>
        </div>
      </summary>
    </div>
    <div class="title-divs"></div>
  </section>
  <div class="page-divider">
    <p>Sample Text Goes here</p>
  </div>
  <section class="section" id="first-section">
    <div class="text-side slowerReveal reveal">
      <p class="text-header-summary">Unbox and trade your dream skins</p>
      <p>
        Unbox skins from every CSGO case, and fledge out your inventory with
        trade offers. Evaluate your items using hourly market price updates.
      </p>
      <div class="front-buttons section-invite">
        <a href="{{url_for('bot_management.invite_server')}}">
          <img
            src="{{url_for('static',filename='images/svg/discord-mark-white.svg')}}"
            alt=""
          />
          Add to Discord</a
        >
      </div>
    </div>
    <figure class="image-stack reveal">
      <div class="example-img"></div>
      <img
        src="{{ url_for('static', filename='images/main/AboutMe.png') }}"
        alt="Discord About Image"
      />
      <img
        src="{{ url_for('static', filename='images/main/TradeOffer.png') }}"
        alt="Discord Trade Offer"
      />
    </figure>
    <figure class="image-stack slowerReveal reveal">
      <div class="example-img"></div>
      <img
        src="{{ url_for('static', filename='images/main/Upgrade.png') }}"
        alt="Discord About Image"
      />
      <img
        src="{{ url_for('static', filename='images/main/Wordle.png') }}"
        alt="Discord About Image"
      />
    </figure>
    <div class="text-side reveal">
      <p class="text-header-summary">Up the stakes and play games</p>
      <p>
        Choose from a ragne of fun minigames to earn balance, or take a risk and
        upgrade your items.
      </p>
      <div class="front-buttons section-invite">
        <a href="{{url_for('bot_management.invite_server')}}">
          <img
            src="{{url_for('static',filename='images/svg/discord-mark-white.svg')}}"
            alt=""
          />
          Add to Discord</a
        >
      </div>
    </div>
    <div class="text-side slowerReveal reveal">
      <p class="text-header-summary">Create rooms to unbox in</p>
      <p>
        Unbox your skins and play games in private rooms, or even make them
        public and take on your friends.
      </p>
      <div class="front-buttons section-invite">
        <a href="{{url_for('bot_management.invite_server')}}">
          <img
            src="{{url_for('static',filename='images/svg/discord-mark-white.svg')}}"
            alt=""
          />
          Add to Discord</a
        >
      </div>
    </div>
    <figure class="image-stack reveal">
      <div class="example-img"></div>
      <img
        src="{{ url_for('static', filename='images/main/rooms1.png') }}"
        alt="Discord About Image"
      />
      <img
        src="{{ url_for('static', filename='images/main/rooms2.png') }}"
        alt="Discord Trade Offer"
      />
    </figure>
    <figure class="image-stack slowerReveal reveal">
      <div class="example-img"></div>
      <img
        src="{{ url_for('static', filename='images/main/claim1.png') }}"
        alt="Discord About Image"
      />
      <img
        src="{{ url_for('static', filename='images/main/leaderboard1.png') }}"
        alt="Discord About Image"
      />
    </figure>
    <div class="text-side reveal">
      <p class="text-header-summary">Compete and claim your daily streak</p>
      <p>
        Login each day to claim your daily balance and compete with other users
        on the server as well as the global leaderboard.
      </p>
      <div class="front-buttons section-invite">
        <a href="{{url_for('bot_management.invite_server')}}">
          <img
            src="{{url_for('static',filename='images/svg/discord-mark-white.svg')}}"
            alt=""
          />
          Add to Discord</a
        >
        <a href="{{url_for('bot_management.leaderboard')}}"> View Leaderboard</a>
      </div>
    </div>
  </section>
  <div class="page-divider">
    <p>Sample Text Goes here</p>
  </div>
  <section class="language-section">
    <p class="text-header-summary slowerReveal reveal">Support for multiple languages</p>
    <p class="reveal">Switch between the supported list of languages in the discord client such as French, Spanish, German and Japanese</p>
    <img class="reveal"
      src="{{ url_for('static', filename='images/main/langEn.png') }}"
      alt="Discord About Image"
    />
    <p class="text-header-summary slowerReveal reveal">Choose from over 25+ commands </p>
    <p class="reveal">Navigate your unboxing and trading experience with a growing list of commands all with added descriptions and features</p>
    <img class="reveal"
      src="{{ url_for('static', filename='images/main/commands.png') }}"
      alt="Discord About Image"
    />
  </section>
</main>
{% include "footer.html" %} {% endblock %}
