{% extends 'index.html' %} {%block content%}
<section class="main-section">
  <div class="title-screen">
    <div class="title-divs">
      <div class="left-side-title">
        <h1 class="main-text">Space Cases</h1>
        <p class="sub-text">
          The Premier CSGO case unboxing simulator built from the ground up for
          the discord platform.
        </p>
        <div class="front-buttons">
          <a href="{{url_for('invite_server')}}">
            <img
              src="{{url_for('static',filename='images/discord-mark-white.svg')}}"
              alt=""
            />
            Add to Discord</a
          >
          <a href="#first-section"> See Features</a>
        </div>
      </div>
    </div>
    <div class="title-divs"></div>
  </div>
  <div class="page-divider">
    <p>Sample Text Goes here</p>
  </div>
  <section class="section" id="first-section">
    <div class="text-side">
      <h1>Unbox and trade your dream skins</h1>
      <p>
        Unbox skins from every CSGO case, and fledge out your inventory with
        trade offers. Evaluate your items using hourly market price updates.
      </p>
      <div class="front-buttons section-invite">
        <a href="{{url_for('invite_server')}}">
          <img
            src="{{url_for('static',filename='images/discord-mark-white.svg')}}"
            alt=""
          />
          Add to Discord</a
        >
      </div>
    </div>
    <div class="image-stack">
      <div class="example-img"></div>
      <img
        src="{{ url_for('static', filename='images/AboutMe.png') }}"
        alt="Discord About Image"
      />
      <img
        src="{{ url_for('static', filename='images/TradeOffer.png') }}"
        alt="Discord Trade Offer"
      />
    </div>
  </section>
  <section class="section">
    <div class="image-stack">
      <div class="example-img"></div>
      <img
        src="{{ url_for('static', filename='images/Upgrade.png') }}"
        alt="Discord About Image"
      />
      <img
        src="{{ url_for('static', filename='images/Wordle.png') }}"
        alt="Discord About Image"
      />
    </div>
    <div class="text-side">
      <h1>Up the stakes and play games</h1>
      <p>
        Choose from a ragne of fun minigames to earn balance, or take a risk and
        upgrade your items.
      </p>
      <div class="front-buttons section-invite">
        <a href="{{url_for('invite_server')}}">
          <img
            src="{{url_for('static',filename='images/discord-mark-white.svg')}}"
            alt=""
          />
          Add to Discord</a
        >
      </div>
    </div>
  </section>
  <div class="page-divider"></div>
</section>
{% include "footer.html" %} {% endblock %}
