<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=yes"
    />
    {% if title %}
      <title>CSGO Case Bot  - {{title}}</title>
    {% else %}
      <title>CSGO Case Bot</title>
    {% endif %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <div class="header-group">
        <p>Space Cases</p>
      </div>
      <div class="header-group">
        {% if current_user %}
          <a href="{{ url_for('logout') }}" id="login"><img src="{{current_user.avatar_url}}" style="height: 50px; width:50; border-radius: 50%;" alt=""></a>
          <h1>{{current_user.username}}#{{current_user.discriminator}}</h1>
        {% else %}
          <a href="{{oauth_url}}" id="login">Login</a>
        {% endif %}
        <div class="menu-btn">
          <div class="burger-btn"></div>
        </div>
      </div>
    </div>
    <div class="front-page">
      <img src="{{ url_for('static', filename='images/dust2.png') }}" />
      <div>
        <p>Premier CSGO Case Bot</p>
        <div class="invite-btn">
          <a>Invite Now</a>
        </div>
      </div>
    </div>
  </body>
</html>
