<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Space Cases</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav class="header">
      <img class="logo"src="{{ url_for('static',filename='images/discord-mark-white.svg') }}"></img>
      <div class ="nav-links">
        <a href="temp">Support Server</a>
        <a>Patreon</a>
        <a>Premium</a>
        {% if current_user %}
        <img class="profile-pic" src="{{current_user.avatar_url}}" alt="" />
        {% else %}
        <a href="{{oauth_url}}" id="login">Login</a>
        {% endif %}
      </div>
    </nav>
    <section class="main-section">
      <div class="title-screen">
        <div class ="title-text">
          <h1 class ="main-text">Space Cases</h1>
          <li class="sub-text">Premier CSGO case unboxing simulator</li>
          <li class="sub-text">Built from the ground up for the discord platform</li>
          <div class="front-buttons">
            <a href="https://discord.com/api/oauth2/authorize?client_id=1025496377939197972&permissions=395136993280&scope=bot"> Invite Now</a>
            <a href="#first-section"> See Features</a>
          </div>
        </div>
      </div>
      <div class="section" id="first-section">
        <div class="text-side">
          <h1>Unbox and trade your dream skins</h1>
          <p>
            Unbox skins from every CSGO case, and fledge out your inventory with
            trade offers. Evaluate your items using hourly market price updates.
          </p>
        </div>
        <div class="image-stack">
          <div class="example-img"></div>
          <img
            src="{{ url_for('static', filename='images/AboutMe.png') }}"
            alt="Discord About Image"
          />
          <img
            src="{{ url_for('static', filename='images/TradeOffer.png') }}"
            alt="Discord Trade Offer"
          />
        </div>
      </div>
      <div class="section">
        <div class="image-stack">
          <div class="example-img"></div>
          <img
            src="{{ url_for('static', filename='images/Upgrade.png') }}"
            alt="Discord About Image"
          />
          <img
            src="{{ url_for('static', filename='images/Wordle.png') }}"
            alt="Discord About Image"
          />
        </div>
        <div class="text-side">
          <h1>Up the stakes and play games</h1>
          <p>
            Choose from a ragne of fun minigames to earn balance, or take a risk
            and upgrade your items.
          </p>
        </div>
      </div>
    </section>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
