<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>Space Cases - {{ title }}</title>
    {% else %}
    <title>Space Cases</title>
    {% endif %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <div class="header">
      <div class="header-group">
        <p class="header-child">Space Cases</p>
      </div>
      <div class="header-group">
        {% if current_user %}
        <img class="profile-pic" src="{{current_user.avatar_url}}" alt="" />
        {% else %}
        <a class="header-child" href="{{oauth_url}}" id="login">Login</a>
        {% endif %}
        <nav class="burger-menu">
          <a>Patreon</a>
          <a>Inventory</a>
          <a>Stats</a>
          <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
      </div>
    </div>
    <section class="main-section">
      <div class="section">
        <div class="custom-shape-divider-top-1676236236">
          <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
          >
            <path
              d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
              class="shape-fill"
            ></path>
          </svg>
        </div>
        <div class="custom-shape-divider-bottom-1676237379">
          <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
          >
            <path
              d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
              class="shape-fill"
            ></path>
          </svg>
        </div>
        <div class="text-side">
          <h1>Unbox and trade your dream skins</h1>
          <p>
            Unbox skins from every CSGO case, and fledge out your inventory with
            trade offers. Evaluate using hourly market price updates.
          </p>
        </div>
        <div class="image-stack">
          <div class="example-img"></div>
          <img
            src="{{ url_for('static', filename='images/AboutMe.png') }}"
            alt="Discord About Image"
          />
          <img
            src="{{ url_for('static', filename='images/TradeOffer.png') }}"
            alt="Discord Trade Offer"
          />
        </div>
      </div>
      <div class="front-button">
        <a
          href="https://discord.com/api/oauth2/authorize?client_id=1025496377939197972&permissions=395136993280&scope=bot"
          >Invite Now
        </a>
      </div>
      <div class="section">
        <div class="image-stack">
          <div class="example-img"></div>
          <img
            src="{{ url_for('static', filename='images/Upgrade.png') }}"
            alt="Discord About Image"
          />
          <img
            src="{{ url_for('static', filename='images/Wordle.png') }}"
            alt="Discord About Image"
          />
        </div>
        <div class="text-side">
          <h1>Up the stakes and play games</h1>
          <p>
            Choose from a ragne of fun minigames to earn balance, or take a risk
            and upgrade your items.
          </p>
        </div>
      </div>
    </section>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
