{% extends 'index.html' %} {% block content %} {% if guilds %}
<section class="server-page-wrapper">
  <div class="server-grid">
    {% for guild in guilds %}
    <div class="server-wrapper">
      <a
        href="https://discord.com/api/oauth2/authorize?client_id=1025496377939197972&permissions=395136993280&guild_id={{str(guild.id)}}&scope=bot"
        target="_blank"
      >
        {% if guild.icon_url%}
        <img src="{{guild.icon_url}}" alt="guild image" />
        {% else %}
        <img
          src="{{ url_for('static',filename='images/svg/discord-mark-white.svg') }}"
          alt="guild image"
        />
        {%endif%}
      </a>
      <p>
        {{guild.name}} {%if guild.description%} {{guild.description}} {%endif%}
      </p>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %} 
{% include "footer.html" %} {% endblock %}
