{% extends 'index.html' %} {%block content%}
<div class="text-header">
    <h1>Premium Plans</h1>
</div>
<div class="premium-wrapper">
    <div class="premium-offer">
        <p class="premium-offer-text">Billed Monthly</p>
        <p class="premium-offer-text premium-price">£5</p>
    </div>
    <div class="premium-offer">
        <p class="premium-offer-text">Billed Monthly</p>
        <p class="premium-offer-text premium-price">£10</p>
    </div>
    <div class="premium-offer">
        <p class="premium-offer-text">Billed Monthly</p>
        <p class="premium-offer-text premium-price">£15</p>
    </div>
</div>
{% include "footer.html" %} {% endblock %}