{% extends 'index.html' %} {%block content%}
<div class="profile-wrapper">
  <div class="profile-grid">
    <div class="first-section-bg-pattern profile"></div>
    <img
      class="profile-page-pic"
      src="{{current_user.avatar_url}}"
      alt="User Image"
    />
    <h1 class="user-information username">
      {{current_user.username}}#{{current_user.discriminator}}
    </h1>
    {%if user_data%}
    <span class="stats-wrapper account-type">
      <p>account type</p>
      <p>Normal</p>
    </span>
    <span class="stats-wrapper roi">
      <p>% return</p>
      <p>{{user_data['return']}}%</p>
    </span>
    <span class="stats-wrapper claim-streak">
      <p>claim streak</p>
      <p>{{user_data['claim_streak']}}</p>
    </span>
    <span class="stats-wrapper balance">
      <p>balance</p>
      <p>${{user_data['balance']}}</p>
    </span>
    <span class="stats-wrapper rank">
      <p>global ranking</p>
      <p>{{user_data['rank']}}</p>
    </span>
    <span class="stats-wrapper start-date">
      <p>played since</p>
      <p>{{user_data['join_date']}}</p>
    </span>
    <span class="stats-wrapper net-worth">
      <p>net worth</p>
      <p>${{user_data['networth']}}</p>
    </span>
    <div class="profile-inv">
      {%for item in user_data['inventory']%}
      <span>
        <img src="{{item['image_url']}}" />
      </span>
      {%endfor%}
    </div>
    {%endif%}
    <span class="inv-buttons">
      <svg
        width="100"
        height="100"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
        class="svg lb_svg"
      >
        <line
          x1="51.3236"
          y1="35.9372"
          x2="12.5803"
          y2="67.5435"
          stroke="#5b5f71"
          stroke-width="10"
        />
        <line
          x1="87.1613"
          y1="67.5453"
          x2="48.4196"
          y2="35.9371"
          stroke="#5b5f71"
          stroke-width="10"
        />
      </svg>
      <div class="page-count">1</div>
      <svg
        width="100"
        height="100"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
        class="svg lb_svg"
      >
        <line
          x1="51.3236"
          y1="35.9372"
          x2="12.5803"
          y2="67.5435"
          stroke="#5b5f71"
          stroke-width="10"
        />
        <line
          x1="87.1613"
          y1="67.5453"
          x2="48.4196"
          y2="35.9371"
          stroke="#5b5f71"
          stroke-width="10"
        />
      </svg>
    </span>
  </div>
</div>
{% include "footer.html" %} {% endblock %}
