<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}" />
    {% if title %}
    <title>Space Cases - {{ title }}</title>
    {% else %}
    <title>Space Cases</title>
    {% endif %}
</head>

<body>
    <section class="front-page">
        <span id="circle" class="circle"></span>
        <img class="hero" src="{{ url_for('static', filename='images/dust2.png') }}" alt="backdrop" />
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/discord-mark-white.svg') }}" alt="logosvg" />
                <h1>Space Cases</h1>
            </div>
            <div class="links">
                <a href="#">Support Me!</a>
                <a href="#">References</a>
                <a href="#">Source Code</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
            {% if current_user %}
                <img class="profile-pic" src="{{current_user.avatar_url}}" alt="" />
            {% else %}
                <a class="header-child" href="{{oauth_url}}" id="login">Login</a>
            {% endif %}
        </nav>
        <div class="selling-point">
            <h2>CSGO CASE BOT</h2>
            <h3>
                Unbox Your Dream Skins!
            </h3>
            <div class="ctas">
                <button class="cta-main">
                    <a href="{{ url_for('test') }}">⠀Info⠀</a>
                </button>
                <button class="cta-main">
                    <a href="{{ url_for('test') }}">⠀Invite⠀</a>
                </button>
            </div>
        </div>
    </section>
    <section class="images">
        <div class="images-description">
        </div>
        <div class="imgs">
            <div class="example_1">
                <h3>case</h3>
                <img muted loop class="img" src="{{ url_for('static', filename='images/case.png') }}"></img>
              </div>
              <div class="example_2">
                <h3>case</h3>
                <img muted loop class="img" src="{{ url_for('static', filename='images/case2.png') }}"></img>
              </div>
              <div class="example_3">
                <h3>case</h3>
                <img muted loop class="img" src="{{ url_for('static', filename='images/case3.png') }}"></img>
        </div>
    </section>
    <section class="about">
        <div class="section">
            <div class="text-side">
                <h1>Unbox and trade your dream skins</h1>
                <p>
                    Unbox skins from every CSGO case, and fledge out your inventory with
                    trade offers. Evaluate using hourly market price updates.
                </p>
            </div>
            <div class="image-stack">
                <div class="example-img"></div>
                <img src="{{ url_for('static', filename='images/AboutMe.png') }}" alt="Discord About Image" />
                <img src="{{ url_for('static', filename='images/TradeOffer.png') }}" alt="Discord Trade Offer" />
            </div>
        </div>
        <div class="front-button">
            <a
                href="https://discord.com/api/oauth2/authorize?client_id=1025496377939197972&permissions=395136993280&scope=bot">Invite
                Now
            </a>
        </div>
        <div class="section">
            <div class="image-stack">
                <div class="example-img"></div>
                <img src="{{ url_for('static', filename='images/Upgrade.png') }}" alt="Discord About Image" />
                <img src="{{ url_for('static', filename='images/Wordle.png') }}" alt="Discord About Image" />
            </div>
            <div class="text-side">
                <h1>Up the stakes and play games</h1>
                <p>
                    Choose from a ragne of fun minigames to earn balance, or take a risk
                    and upgrade your items.
                </p>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"
        integrity="sha512-Mf/xUqfWvDIr+1B6zfnIDIiG7XHzyP/guXUWgV6PgaQoIFeXkJQR5XWh9fqAiCiRCpemabt3naV4jhDWVnuYDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"
        integrity="sha512-YzMW3OzvgtVpIIPPpjnCy8wVTq5slHRrxnLH1oD5dkVjZf8+8DJYd+GYmmWXZNmroTqKXFFzFS3XZ/LBvaNgZg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='test.js') }}"></script>
</body>
<footer>
    <div id="mouse"></div>
</footer>

</html>
-->

<html>
   <body>
   
      <form action = "/setcookie" method = "POST">
         <p><h3>Enter userID</h3></p>
         <p><input type = 'text' name = 'nm'/></p>
         <p><input type = 'submit' value = 'Login'/></p>
      </form>
      
   </body>
</html>