* {
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'LexendDeca';
    src: url(./fonts/LexendDeca-VariableFont_wght.ttf);
}
@keyframes gradient {
    0% {
        background-position: 0%,50%;
    }
    50% {
        background-position: 100%,50%;
    }
    100% {
        background-position: 0%,50%;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-5svw);
    }
    100% {
        opacity: 1;
        transform: translateX(0svw);
    }
}
@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
:root {
    --colour1: #e6e6e6;
    --colour2: #272933;
    --colour3: #191b1f;
    --colour4: #9397a4;
    --colour5: #2c2036;
    --colour6: #2196F3;
    /* --gradient1: linear-gradient(-45deg, #041435, #1e223c, #202237, #181338); */
    --gradient1: linear-gradient(-45deg,#061a44, #252a4b, #2e314f, #1b1544);
    --gradient2: linear-gradient(-45deg,#315f9b,#0c4eb7);
    --gradient3: linear-gradient(-45deg,#842135,#1c2b76);
    }

html {
    background-color: var(--main-colour);
    font-family: 'LexendDeca', Helvetica, sans-serif;
    background-color: var(--colour2);
    scroll-behavior: smooth;
}
html,body {
    overflow-x: hidden;
}
body {
    position: relative;
}
p,
li, a{
    color: var(--colour4);
    font-size: 1.25svw;
    text-decoration: none;
}
h1,.text-header-summary, .social-info p, .user-information  {
    color: var(--colour1);
    font-size: 2.2svw;
    font-weight: bold;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cookie-menu {
    height: 15svh;
    width: 100svw;
    position: fixed;
    background-color: var(--colour1);
    bottom: 0%;
    z-index: 10;
    box-shadow: 0px -3px rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 2svw;
    padding-right: 2svw;
    padding-top: 1svh;
    align-items: center;
    grid-template-areas: 
    "header header" 
    "text buttons";
    visibility: hidden;
}
.cookie-toggle {
    aspect-ratio: 1/1;
    width: 2.5svw;
    bottom: 1svw;
    left: 1svw;
    position: fixed;
    background:var(--colour6);
    filter: var(--colour1);
    border-radius: 25%;
    padding: 0.5svw;
    box-shadow: 0px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    visibility: hidden;
}
.cookie-menu.active {
    bottom: 55%;
}
.cookie-title {
    grid-area: header;
    font-size: 1.5svw;
    color: var(--colour5);
    font-weight: bold;
}
.cookie-preface, .cookie-menu {
    padding-bottom: 1svh;
    border-bottom: 1px solid var(--colour4); 
}
.cookie-link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--colour6);
}
.cookie-buttons {
    scale: 0.9;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2svw;
}
.cookie-buttons a {
    font-size: 1.4svw;
    cursor: pointer;
    outline: var(--colour6) 3px solid;
    padding: 1svw;
    color: var(--colour6);
    border-radius: 2px;
}
.cookie-save {
    height: 10svh;
    display: flex;
    justify-content: end;
    align-items: center;
    background: var(--colour1);
}
.cookie-save-button {
    font-size: 1.4svw;
    cursor: pointer;
    outline: var(--colour6) 3px solid;
    padding: 1svw;
    color: var(--colour6);
    border-radius: 2px;
    scale: 0.9;
}
.cookie-buttons a:nth-child(3) {
    color: var(--colour1);
    background: var(--colour6);
}
.cookie-custom-wrapper {
    height: 55svh;
    width: 100svw;
    position: fixed;
    top: 100%;
    background: var(--colour1);
    z-index: 10;
    padding-left: 2svw;
    padding-right: 2svw;
}
.cookie-custom-wrapper.active {
    top: 45%;
}
.cookie-preface {
    height: 15svh;
    display: grid;  
    grid-template-rows: 1fr 1fr;
    align-items: center;
    grid-template-areas: 
    "header header" 
    "text text";
}
.preface-desc {
    grid-area: "text";
}
.cookie-select-wrapper {
    background: var(--colour1); 
    height: 30svh;
    overflow-y: scroll;
}
.cookie-grid {
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    grid-template-areas: 
    "header buttons" 
    "text empty";
    height: 15svh;
    width: 100%;
    background: var(--colour1);
    border-bottom: 1px solid var(--colour4); 
}
.cookie-description {
    grid-area: "text";
}
.active-cookie {
    font-weight: bold;
    color: var(--colour6);
    grid-area: "buttons";
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    justify-self: end;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colour4);
    -webkit-transition: .3s;
    transition: .3s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--colour1);
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: var(--colour6);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px var(--colour6)
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.header {
    z-index: 3;
    height: 10svh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10svw;
    padding-right: 10svw;
    border-bottom: 1px solid var(--colour4);
    animation: gradient 20s infinite alternate;
    background: var(--gradient1);
    background-size: 200%;
}
.profile-pic {
    z-index: 10;
    border-radius: 50%;
    height: 6svh;
    aspect-ratio: 1/1;
}
.header a {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 1.3svw;
    text-align: center;
    animation: fade-in 0.5s ease-in-out;
}
.logo {
    width: auto;
    height: 7svh;
}
.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1svw;
    z-index: 10;
}
.logo-text {
    color: var(--colour1);
    font-weight: bold;
    text-transform: uppercase;
}
#login,.website-button {
    background: var(--gradient2);
    animation: gradient 20s infinite alternate;
    background-size: 200%;
    color: var(--colour1);
    border-radius: 5px;
    padding: 10px;
    z-index: 5;
    cursor: pointer;
        box-shadow: 5px 5px rgba(0, 0, 0, .1);
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45svw;
    height: auto;
    gap: 1.5svw;
}
.nav-links a{
    color: var(--colour1);
    z-index: 5;
}
.login-button {
    z-index: 5;
    animation: fade-in 0.5s ease-in-out;
}
.premium,#premium, .donate-button {
    color: gold;
    background-color: rgba(218, 165, 32, 0.408);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, .1);
}
.title-screen {
    height: 80svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient1);
    background-size: 200%;
    animation: gradient 20s infinite alternate;
}
.title-divs {
    width: 80svw;
    height: 90svw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 5svh;
}
.title-divs img {
    scale: 0.5;
}
.title-logo {
    width: 10svw;
    position: absolute;
    top: 35svh;
    left: 20svw;
    transform: translateX(-50%) translateY(-50%);
    animation: rotate 20s infinite alternate;
    opacity: 0.5;
}
.title-logo:nth-child(2) {
    top: 35svh;
    left: 80svw;
    transform: translateX(-50%) translateY(-50%) rotateY(180deg);
}
.main-text {
    font-size: 7svw;
    text-transform: capitalize;
    animation: fade-in 0.5s ease-in-out;
}
.sub-text {
    font-size: 2svw;
    animation: fade-in 0.7s ease-in-out;
}
.front-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2svw;
    text-align: center;
}
.title-front-buttons {
    animation: fade-in 0.9s ease-in-out;
}
.front-buttons a{
    overflow: hidden;
    background: var(--gradient2);
    background-size: 200%;
    animation: gradient 20s infinite alternate;
    color: var(--colour1);
    width: 15svw;
    aspect-ratio: 9/3;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3svw;
    box-sizing: content-box;
    padding: 0 0.5svw  ;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px rgba(0, 0, 0, .1);

}
.front-buttons a:hover,#login:hover,
.website-button:hover {
    background: linear-gradient(160deg,
        #315f9b,
        #0c4eb7,#1c2b76);
}
.first-section-bg-pattern.active {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}
.error-buttons a {
    justify-content: center ;
}
.front-buttons img {
    width: 5svw;
}
.section-invite img {
    width: 3svw;
    animation: none;
}
.section-invite a {
    justify-content: space-around;
}
.front-buttons a:nth-child(2) {
    justify-content: center;
    background: none;
    background-color: var(--colour4);
}
.svg {
    width: 20px;
    height: auto;
    stroke: var(--colour4);
    transform: rotate(180deg);
    transition: ease-out 100ms;
}
.svg.active {
    transform: rotate(-360deg);
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5svw;
    cursor: pointer;
}
.dropdown {
    z-index: 10;
    width: 12svw;
    height: auto;
    background-color: var(--colour3);
    position: absolute;
    border-radius: 10px;
    transition: ease-out 100ms;
    visibility: hidden;
    transform: translate(-6.5svw,1svh);
}
.dropdown.active {
    visibility: visible;
}
.dropdown p, .dropdown a {
    margin: 25px;
    font-size: 1.3svw;
}
.dropdown p {
    color: var(--colour1);
    text-transform: uppercase;
}
.dropdown a {
    display: block;
    text-align: left;
    color: var(--colour4);
}
.page-divider {
    height: 10svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1svw;
    background: var(--colour3);
}
.donate-button {
    display: inline-block;
    animation: fade-in 1s ease-in-out;
}
.page-divider p {
    color: var(--colour4);
    animation: fade-in 1s ease-in-out;
}
.error-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100svw;
    height: 90svh;
    gap: 20svh;
}
.section {
    height: 280svh;
    width: 100svw;   
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0 10svw 0 10svw;
}
.first-section-bg-pattern {
    height: 280svh;
    width: 100svw;
    background-image: radial-gradient(rgb(87 101 242 / 9%), 9%,
            transparent 9%
    );
    background-position: 0%,0%;
    background-size: 12vmin 12vmin;
    position: absolute;
    z-index: 1;
    transition: 0.8s ease;
    animation: 60s gradient infinite;
}
.first-section-bg-pattern.language-bg {
    height: 160svh;
    z-index: 0;
}
.first-section-bg-pattern.profile {
    height: 75svh;
    width: 90svw;
    background-size: 11vmin 11vmin;
}
.text-side,.image-stack,.reveal {
    z-index: 3;
}
.language-section {
    padding-top: 5svh;
    padding-bottom: 5svh;
    background: var(--gradient3);
    animation: gradient 20s infinite alternate;
    height: 160svh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.language-section img {
    width: 23svw;
    box-shadow: 10px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}
.language-section p {
   font-size: 1.6svw;
    width: 75%;
    text-align: center;
}
.language-section .text-header-summary {
    font-size: 3svw;
}
.text-side {
    width: 80%;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.reveal {
    opacity: 0;
    transform: translateX(-20svw);
}
.reveal.active {
    opacity: 1;
    transform: translateX(0svw);
    transition: 0.8s ease-in-out;
}
.slowerReveal.reveal.active{
    transition: 1s ease-in-out;
}
.image-stack img {
    border-radius: 10px;
    height: auto;
    width: 27svw;
    position: absolute;
    box-shadow: 10px 10px rgba(0, 0, 0, .2);
}
.image-stack:nth-child(1) img {
    width: 20svw;
}
.example-img {
    position: relative;
    height: 25svh;
    width: 35svw;
    background-color: transparent;

}
.image-stack img:nth-child(2) {
    z-index: 2;
    transform: translate(5svh, -10svh);
}
.image-stack img:nth-child(3) {
    z-index: 1;
    transform: translate(-5svh,10svh);
}
.image-stack {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-header,.server-invite-header {
    height: 10svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1svw;
}
.leaderboard{
    width: 100svw;
    height: 220svh;
    background: var(--gradient1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 200%;
    animation: gradient 20s infinite alternate;
}
.lb_svg {
    transform: rotate(90deg);
    cursor: pointer;
}
.lb_svg:nth-child(1) {
    transform: rotate(-90deg);
}
.lb {
    width: 90svw;
    height: 100svh;
    background-color: var(--colour3);
    position: absolute;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, .2);   
    animation: fade-in 1s ease-in-out; 
}
.lb-partition {
    padding: 1svh;
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 10svh;
    /* border-bottom: 1px solid var(--colour4); */
    /* border-left: 1px solid var(--colour4); */
    /* border-right: 1px solid var(--colour4); */
}
.lb-partition p {
    color: var(--colour1);
    font-weight: bold;
}
.lb-number {
    justify-self: center;
}
.lb-user {
    display: flex;
    align-items: center;
    gap: 1svw;
}
.lb-partition:nth-child(1) {
    background-color: var(--colour2);
    border-radius: 10px;
}
.server {
    visibility: hidden;
}
.global {
    visibility: visible;
}
.server-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    gap: 3svw;
    padding-top: 3svh;
}
.server-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: max-content;
    flex-direction: column;
    padding-bottom: 20svh;
}
.server-page-wrapper h1 {
    padding-top: 3svh;
}
.server-wrapper {
    background: var(--colour3);
    border-radius: 10px;
    display: grid;
    width: 20svw;
    aspect-ratio: 16/10;
    justify-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.server-wrapper > * {
    grid-area: 1/1;
}
.bg-server-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    scale: 1.2;
    z-index: 0;
    border-radius: 10px;
    filter: blur(10px);
    opacity: 0.3;
}
.main-server-img {
    background: var(--colour3);
    z-index: 1;
    height: 50%;
    border-radius: 100%;
    border: 3px solid var(--colour1);
}
.text-invite-wrapper {
    display: flex;
    padding-top: 1svh;
    gap: 1svw;
}
.text-invite-wrapper > * {
    color: var(--colour1);
    display: flex;
    align-items: center;
    height: 6svh;
    font-size: 1.2svw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-invite-wrapper > div {
    width: 14svw;
    max-width: 14svw;
    text-align: left;
}
.text-invite-wrapper > a {
    width: 5svws;
    justify-content: center;
    background: var(--colour3);
    border-radius: 5px;
    width: 30%;
    box-shadow: 5px 5px rgba(0, 0, 0, .1);

}
.profile-wrapper {
    width: 100svw;
    height: 80svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient1);
    background-size: 200%;
    animation: gradient 20s infinite alternate;
}
.profile-grid {
    width: 90svw;
    height: 75svh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    justify-items: center;
    background: var(--colour3);
    align-items: center;
    border-radius: 10px;
    box-shadow: 15px 15px rgba(0, 0, 0, .2);
    animation: fade-in 1s ease-in-out;
    outline: 5px solid var(--colour2);
}
.profile-page-pic {
    scale: 0.9;
    border-radius: 50%;
    height: 28svh;
    border: 5px solid var(--colour2);
    grid-row: 1/3;
    z-index: 3;
}
.user-information {
    display: inline;
    background: var(--gradient1);
    padding: 1svw;
    box-shadow: 5px 5px rgba(0, 0, 0, .2);
    z-index: 3;
}
.username {
    font-weight: bold;
    text-shadow: 5px 5px rgba(0, 0, 0, .1);
    font-size: 2.5vw;
}
.account-type {
    grid-row: 2/3;
    border-left: gold 10px solid;
}
.profile-inv {
    aspect-ratio: 1/1;
    height: 90%;
    background: var(--colour3);
    outline: 5px solid var(--colour2);
    box-shadow: 10px 10px rgba(0, 0, 0, .2);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 5px;
    grid-row: 1/5;
    grid-column: 3/5;
    z-index: 3;
}
.profile-inv img{
    height: 80%;
    aspect-ratio: 1/1;
}
.profile-inv span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-count {
    padding: 0.5svw 1svw 0.5svw 1svw;
    background: var(--colour2);
    border-radius: 10px;
}
.inv-buttons {
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1svw;
    z-index: 3;
}
.inv-buttons svg {
    scale: 2;
}
.profile-stats {
    width: 90%;
    height: 90%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-row: 2/3;
    grid-gap: 2svw;
}
.stats-wrapper {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: var(--colour2);
    padding: 2svw;
    box-shadow: 5px 5px rgba(0, 0, 0, .2);
    z-index: 3;
}
.roi,.rank {
    grid-row: 3/4;
    border-left: var(--colour6) 10px solid;
}
.claim-streak,.balance {
    grid-row: 4/5;
    border-left: var(--colour1) 10px solid;
}
.net-worth,.start-date {
    grid-row: 5/6;
    border-left: var(--colour4) 10px solid;
}
.stats-wrapper p:nth-of-type(even),.inv-buttons {
    font-size: 2.2svw;
    color: var(--colour1);
}
.premium-wrapper {
    width: 100svw;
    height: 80svh;
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
}
.premium-offer {
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A77044;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, .2);
    flex-direction: column;
}
.premium-offer-text{
    font-size: 2.5svw;
    font-weight: bold;
    color: var(--colour1);
}
.premium-price {
    font-size: 3svw;
}
.premium-offer:nth-child(2) {
    background: #A7A7AD;
    justify-self: center;
}
.premium-offer:nth-child(3) {
    background: #D6AF36;
    justify-self: start;
}
.footer {
    width: 100svw;
    height: 25svh;
    background: var(--colour3);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 0.5fr;
    padding: 5svh 15svw 5svh 15svw;
}
.footer-header {
    color: var(--colour1);
    font-weight: bold;
    font-size: 2svw;
    text-transform: uppercase;
}
.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/5;
}
.icons-credits {
    grid-column: 3/4;
    font-size: 1svw;
}
.footer-socials a img {
   width: 70%
}
.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2svh;
}
.footer-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2svh;
}
.footer-logo {
    width: 50%;
    height: auto;
}
.email-box {
    width: 25svw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
}
.form-control {
    flex-basis: 100%;
    font-size: 1.4svw;
    border: none;
    border-bottom: 3px solid var(--colour2);
    background-color: transparent;
    color: var(--colour4);
    font-family: 'LexendDeca', Helvetica, sans-serif;
    margin-bottom: 10px ;
    outline: none;
}
.form-control:nth-child(1),.form-control:nth-child(2) {
    flex-basis: 45%;
    min-width: 45%;
}
#form-submit {
    flex-basis: 32%;
    border: none;
    font-family: 'LexendDeca', Helvetica, sans-serif;
    font-size: 1.5svw;
}
.news-text {
    color: var(--colour1);
    text-transform: capitalize;
}
.language-section-discord-invite {
    aspect-ratio: 9/3;
    background: var(--gradient3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1svw;
    color: var(--colour1);
    font-size: 2svw;
    font-weight:normal;
    padding: 1svw;
    border-radius: 5px;
    text-transform: capitalize;
    box-shadow: 10px 10px rgba(0, 0, 0, .2);
}
.language-section-discord-invite:hover {
    background: linear-gradient(-90deg, #842135, #1c2b76);
}
.socials-link {
    text-decoration: underline;
    color: var(--colour6);
}
.language-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
}
.language-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3svh;
    z-index: 2;
}
.patch-notes-wrapper {
    padding: 2svw 5svw 2svw 5svw;
}
.patch-notes-wrapper p,.patch-bullet-points {
    color: var(--colour1);
}
.patch-notes-header {
    text-align: center;
    padding-bottom: 2svw;
}
.patch-notes-title,.patch-notes-date {
    font-size: 2svw;
    padding-bottom: 1svw;
    font-weight: bold;
}
.patch-bullet-points {
    padding-bottom: 0.5svw;
}
.patch-notes {
    padding-bottom: 1svw;
}
.patch-notes-date {
    padding-top: 1svw;
}
@media (max-width:500px) {
    .nav-links a {
        visibility: hidden;
    }
    .main-text {
        font-size: 10svh;
    }
    .sub-text {
        font-size: 3svh;
    }
    .front-buttons {
        flex-direction: column;
    }
    .front-buttons a{
        width: 15svh;
        font-size: 1.5svh;
    }
    .section {
        height: auto    ;
        flex-direction: column;
        gap: 0;
    }
    .image-stack img {
        scale: 0.5;
    }
    a,p,li {
        font-size: 2svh;
    }
    h1 {
        font-size: 3svh;
    }
    .text-side {
        height: auto;
        padding-bottom: 3svh;
    }
}
