* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'LexendDeca';
    src: url(./fonts/LexendDeca-VariableFont_wght.ttf);
}
:root {
    --main-colour: hsl(0, 2%, 17%);
    --secondry-colour: hsl(84, 70%, 70%);
    --tertiary-colour: hsl(46, 70%, 70%);
    --quaternary-colour: hsl(0, 70%, 70%);
}
html {
    background-color: var(--main-colour);
    font-family: 'LexendDeca', Helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}
.header {
    z-index: 9;
    position: fixed;
    background: transparent;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center
}
#login {
    background-color: var(--tertiary-colour);
    border-radius: 10px;
    font-size: 2.5vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom:0% 5px;
}
p {
    color: var(--secondry-colour);
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: bold;
}
#login,
.header-group img {
    cursor: pointer;
    color: white;
}
.user-tag {
    color: var(--tertiary-colour);
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.header-group img {
    height: auto;
    width: 70px;
    border-radius: 50%;
    border: var(--secondry-colour) 3px solid;
}
.header-group img:hover,
#login:hover,
.invite-btn:hover {
    filter: grayscale();
    opacity: 0.8;
}
.header-group {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header-group:nth-child(2) {
    justify-content: end;
}
.header-child,.profile-pic {
    margin: 25px;
    z-index: 10;
}
.burger-menu {
    width: 25%;
    height: 100vh;
    position: absolute;
    background-color: var(--main-colour);
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    border-left: var(--secondry-colour) 5px solid;
    transition: 0.3s ease;
}
.burger-menu.active {
    left: 75%;
}
.burger-menu a {
    color: var(--quaternary-colour);
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vw;
    cursor: pointer;
}
.burger-menu a:hover {
    filter: grayscale();
    scale: 1.1;
    transition: 0.1s ease;
}
.front-page img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    filter: blur(4px) grayscale(1) brightness(0.5);
}
.front-page p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    text-align: center;
    color: var(--quaternary-colour);
    font-weight: bold;
}
.page {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(100%, 0);
}