* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'LexendDeca';
    src: url(./fonts/LexendDeca-VariableFont_wght.ttf);
}

:root {
    --colour1: #ffffff;
    --colour2: #f6f6f6;
    --colour3: #fb742d;
    --colour4: #47464d;
    --colour5: #000;
}
html {
    background-color: var(--main-colour);
    font-family: 'LexendDeca', Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.header {
    z-index: 9;
    position: fixed;
    background: transparent;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center
}
#login {
    background-color: var(--colour3);
    border-radius: 10px;
    font-size: 2.5vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 0% 5px;
}
p {
    color: var(--colour2);
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2)
}
#login,
.header-group img {
    cursor: pointer;
    color: white;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.header-group img {
    height: auto;
    width: 70px;
    border-radius: 50%;
    border: var(--colour3) 3px solid;
}

.header-group img:hover,
#login:hover,
.invite-btn:hover {
    filter: grayscale();
    opacity: 0.8;
}

.header-group {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-group:nth-child(2) {
    justify-content: end;
}
.header-child,
.profile-pic {
    margin: 25px;
    z-index: 10;
}
.burger-menu {
    width: 25%;
    height: 100vh;
    position: absolute;
    background-color: var(--colour4);
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    border-left: var(--colour3) 5px solid;
    transition: 0.3s ease;
}
.burger-menu.active {
    left: 75%;
}
.burger-menu a {
    color: var(--colour1);
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vw;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2)
}
.burger-menu a:hover {
    filter: grayscale();
    scale: 1.1;
    transition: 0.1s ease;
}
.navigation a {
    text-decoration:  none;
    color: #464444;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
.navigation a:hover,
.navigation a.active{
    background: #464444;
    color: #fff;
}
.parallax{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}
.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
#case2{
    width: 50%;
}
#case{
    width: 50%;
    transform: scaleX(-1);
}
.main-section {
    position: relative;
    background: var(--colour5);
    padding: 100px;
}
.main-section h1{
    font-size: 3em;
    color: var(--colour2);
    margin-bottom: 10px;
}
.main-section p{
    font-size: 1em;
    color: var(--colour2);
    font-weight: 300;
}